<div class="content">
  <header> 
      <div class="counter">
          <p>Введите код отмены!</p>
          <app-timer></app-timer>
      </div>     
  </header>    
  <form class="code-form" *ngIf="isToShowForm">
      <input class="code-text" #codeText type="text" placeholder="Введите код.">
      <input class="code-button" type="button" (click)="onCodeClicked(codeText.value)" value="Проверить.">
    </form>
  <main class="main-content">
    <div class="commands">
      <button class="team-1"
        [class.verified]="isVerified(1)"
        [class.button-hovered]="mouseOvered && !isVerified(1)"
        [class.button-clicked]="!isVerified(1)"
        (mouseover)="mouseOvered=true"
        (mouseout)="mouseOvered=false"
        [disabled]="!isEnabled(1)"
        type="button" 
        (click)="onTeam1Clicked(1)">
      </button>
      <button class="team-2" type="submit"></button>
      <button class="team-3" type="submit"></button>
      <button class="team-4" type="submit"></button>
      <button class="team-5" type="submit"></button>
      <button class="team-6" type="submit"></button>
      <button class="team-7" type="submit"></button>
      <button class="team-8" type="submit"></button>
    </div>

  </main>

  <footer>
  </footer>
</div>