<div class="content">
  <header> 
      <div class="counter">
          <p>Введите код отмены!</p>
          <app-timer></app-timer>
      </div>     
  </header>
  <main class="main-content">

    <div class="commands">
      <button class="team-1" type="submit"></button>
      <button class="team-2" type="submit"></button>
      <button class="team-3" type="submit"></button>
      <button class="team-4" type="submit"></button>
      <button class="team-5" type="submit"></button>
      <button class="team-6" type="submit"></button>
      <button class="team-7" type="submit"></button>
      <button class="team-8" type="submit"></button>
    </div>
  </main>

  <footer>
  </footer>
</div>